@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --cor-fundo-header: #FF4081;
    --cor-titulo: #982598;
    --cor-fundo: #FBC3C1;
    --cor-nav: #FFF5F8;
    ;
}

header{
    background-color: var(--cor-fundo-header);
    color: var(--cor-titulo);
    text-align: center;
    padding: 20px;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: "Caveat", cursive;
}

main{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

body {
    background-color: var(--cor-fundo);
}

nav a{
    color: var(--cor-nav);
    text-decoration: none;
    margin: 10px;
}