:root {
    /* MODO CLARO */
    --cor-fundo: #ececec;
    --cor-header: #004d40;
    --cor-footer: #009688;
    --cor-texto: #222;
    --cor-branco: #ececec;
    --cor-borda: #cecece;
    --cor-sombra: #ccc;
}

/* MODO ESCURO */
.dark {
    --cor-fundo2: #121212;
    --cor-header2: #1f1f1f;
    --cor-footer2: #2c2c2c;
    --cor-texto2: #f1f1f1;
    --cor-branca: #1e1e1e;
    --cor-borda2: #444;
    --cor-sombra2: #000;
    --bg-image:ur("../Imagens/fundo2.jpg")
    --overlay-opacity:
}

* {
    transition: all 0.5s ease;
}

body {
    background: var(--cor-fundo2);
    color: var(--cor-texto2);
}

body.dark,
body.dark html {
    background:
        linear-gradient(
            rgba(0,0,0, var(--overlay-opacity)),
            rgba(0,0,0, var(--overlay-opacity))

        ), 
    var(--bg-image) no-repeat center center fixed;
background-size: cover;
}
header {
    background: var(--cor-header2);
}

h1{
    color: var(--cor-texto2);
}

footer{
    background: var(--cor-footer2);
}

nav a {
    color: var(--cor-footer2);
}

nav a:hover {

color: var(--cor-footer2);
}

figure {
    background: var(--cor-branca);
    border: 1px solid var(--cor-borda2);
    box-shadow: 0 1px 2px var(--cor-sombra2);
}

header{
    width: 100%;
    height: 50px;
    background: var(--cor-header2);
    display: flex; /* ativa flexbox */
    align-items: center; /* centraliza vertical */
    justify-content: center; /* centraliza título */
    position: relative; /* base para posicionamento */
}

#tema {
    position: absolute;
    right: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--cor-branca);
    color: var(--cor-branca);
    font-size: 14px;
    border: none;
    cursor: pointer;
}